<div class="span3">
  <div id="general-info-widget" class="widget widget-table action-table">
    <div class="widget-header">
      <i class="icon-info-sign"></i>

      <h3>
        General Info
      </h3>

      <div id="refresh-os" class="btn icon-refresh js-refresh-info"></div>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
      <div class="general-info-item">
        <span class="general-title">OS</span>
        <span class="general-data" id="os-info"><%= os %></span>
      </div>
      <div class="general-info-item">
        <span class="general-title">Uptime</span>
        <span id="os-uptime"><%= uptime %></span>
      </div>
      <div class="general-info-item">
        <span class="general-title">Server Time</span>
        <span id="os-time"> <%= server_time %> </span>
      </div>
      <div class="general-info-item">
        <span class="general-title">Hostname</span>
        <span id="os-hostname"><%= hostname %></span>
      </div>
    </div>
  </div>
  <!-- /widget -->
</div>