<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./">Gutter-DashBoard</a>

      <div class="nav-collapse">

        <ul class="nav pull-right">
          <li>
            <a target="_blank" href="http://github.com/afaqurk/linux-dash">
              <i class="lead icon-github-sign"></i>
              <span class="lead">Contribute on GitHub</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>