<div id="ram-widget" class="widget widget-nopad">
  <div class="widget-header">
    <i class="icon-list-alt"></i>

    <h3>
      RAM
    </h3>

    <div id="refresh-ram" class="btn icon-refresh js-refresh-info"></div>
  </div>
  <!-- /widget-header -->
  <div class="widget-content">
    <div class="big-stats-container">
      <div class="widget-content">
        <div class="cf big_stats">
          <div class="stat">
            <i class="icon-#">Total&nbsp;</i> <span class="value odometer" id="ram-total"><%= total_m %></span> MB
          </div>
          <!-- .stat -->
          <div class="stat">
            <i class="icon-#">Used&nbsp;</i> <span class="value odometer" id="ram-used"><%= used_m %></span> MB<br>
            <span class="value odometer" id="ram-used-per"></span> %
          </div>
          <!-- .stat -->
          <div class="stat">
            <i class="icon-#">Free&nbsp;</i> <span class="value odometer" id="ram-free"><%= free_m %></span> MB<br>
            <span class="value odometer" id="ram-free-per"></span> %
          </div>
          <!-- .stat -->
        </div>
      </div>
      <!-- /widget-content -->
    </div>
  </div>
</div>