<div class="span6">
  <div id="software-widget" class="widget widget-table">
    <div class="widget-header">
      <i class="icon-list"></i>

      <h3>
        Software
      </h3>

      <div id="refresh-whereis" class="btn icon-refresh js-refresh-info"></div>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
      <table id="whereis_dashboard" class="table table-hover table-condensed table-bordered">
        <%= packages %>
      </table>
    </div>
    <!-- /widget-content -->
  </div>
  <!-- /widget -->
</div>
<!-- /span -->
