<div class="subnavbar">
  <div class="subnavbar-inner">

    <a class="btn btn-navbar btn-info visible-phone" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="container nav-collapse">

      <ul class="mainnav">
        <li>
          <a class="js-smoothscroll" href="#refresh-os"><i class="icon-dashboard"></i><span>General</span></a>
        </li>
        <li>
          <a class="js-smoothscroll" href="#refresh-df"><i class="icon-list-alt"></i><span>Disk</span></a>
        </li>
        <li>
          <a class="js-smoothscroll" href="#refresh-ps"><i class="icon-list-alt"></i><span>CPU</span></a>
        </li>
        <li>
          <a class="js-smoothscroll" href="#refresh-ram"><i class="icon-list-alt"></i><span>RAM</span></a>
        </li>
        <li>
          <a class="js-smoothscroll" href="#refresh-users"><i class="icon-group"></i><span>Users</span></a>
        </li>
        <li>
          <a class="js-smoothscroll" href="#refresh-ispeed"><i class="icon-exchange"></i><span>Network</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i id="closed-widget-count">0</i>
            <span> Closed Widgets <i class="icon-caret-down"></i></span>
          </a>
          <ul class="dropdown-menu" id="closed-widget-list">
            <li id="close-all-widgets">
              <a> <i class="icon-remove lead pull-left"></i> Close All Widgets</a>
            </li>
            <li id="open-all-widgets">
              <a> <i class="icon-plus lead pull-left"></i> Open All Widgets</a>
            </li>
            <li class="">
              <hr>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i id="phpinfo-widget-what" class="icon-info-sign"></i>
            <span>PHPInfo <i class="icon-caret-down"></i></span>
          </a>
          <ul class="dropdown-menu" id="phpinfo-widget-opt">
            <li><a href="sh/phpinfo.php?what=-1" target="_blank"><i class="icon-info"></i> - INFO_ALL</a></li>
            <li><a href="sh/phpinfo.php?what=1" target="_blank"><i class="icon-info"></i> - INFO_GENERAL</a></li>
            <li><a href="sh/phpinfo.php?what=4" target="_blank"><i class="icon-info"></i> - INFO_CONFIGURATION</a></li>
            <li><a href="sh/phpinfo.php?what=8" target="_blank"><i class="icon-info"></i> - INFO_MODULES</a></li>
            <li><a href="sh/phpinfo.php?what=16" target="_blank"><i class="icon-info"></i> - INFO_ENVIRONMENT</a></li>
            <li><a href="sh/phpinfo.php?what=32" target="_blank"><i class="icon-info"></i> - INFO_VARIABLES</a></li>
            <li><a href="sh/phpinfo.php?what=2" target="_blank"><i class="icon-info"></i> - INFO_CREDITS</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div><!-- /subnavbar -->